<!--header file-->
<!--included in every file-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></div>
            <a class="navbar-brand" href="/home">myImages</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/myImages">My Images</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="/logout">Logout</a> </li>-->
            <!--</ul>-->
        </div>
    </div>
</nav>